@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: only light;
}

html {
    scroll-behavior: smooth;
}

.dropdown {
    display: none;
}

.bg-hero-pattern {
    background-repeat: no-repeat;
}

.mobile-links {
    display: flex;
}

.selected {
    border: 2px solid green;
}

.admin {
    height: 140vh;
}

.pc-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.et-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.et-image-container {
    height: 100px;
    width: 100px;
}

.et-primary-image-container {
    height: 400px;
    width: 600px;
}

.et-primary-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes mymove {
    0% {
        background-image: url('/img/hero-pattern.jpg');
    }

    32% {
        background-color: rgba(0, 0, 0, 0.5);
    }

    33% {
        background-image: url('/img/hero-pattern-2.jpg');
    }

    65% {
        background-color: rgba(0, 0, 0, 0.5);
    }

    66% {
        background-image: url('/img/hero-pattern-3.jpg');
    }

    100% {
        background-color: rgba(0, 0, 0, 1);
    }
}

@media screen and (max-width: 1400px) {

    .hero-container {
        display: flex;
        justify-content: center;
    }
}


@media screen and (max-width: 1200px) {

    /* For mobile phones: */

    .dropdown {
        display: flex;
    }

    .hero {
        min-height: 50vh;
    }

    .et-container {
        gap: 24px;
    }

    .et-primary-image-container {
        height: 300px;
        width: 500px;
    }

}


@media only screen and (max-width: 900px) {
    .hero {
        min-height: 30vh;
    }

    .carousel-text {
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
    }

    .brands-cards-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .services-container {
        gap: 4rem;
    }

    .services-wrapper {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .services-cards {
        flex-wrap: wrap;
    }

    .contact-us-container {
        flex-direction: column;
        gap: 2rem;
    }

    .contact-us-left-header {
        text-align: center;
    }

    .contact-us-left {
        align-items: center;
    }

    .contact-us-right {
        gap: 4rem;
    }

    .pc-container {
        gap: 36px
    }

    .et-container {
        flex-direction: column;
    }

    .et {
        width: 80%;
    }

}

@media only screen and (max-width: 740px) {
    .navbar-wrapper {
        padding: 0px;
    }

    .contact-nav {
        display: none;
    }

    .hero-title {
        text-align: center;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 4px;
    }

    .hero-text {
        width: 90%;
    }

    .about-us {
        margin-top: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 4rem;
        min-height: 25vh;
    }

    .about-us-title {
        text-align: center;
        font-size: 3rem;
        padding-bottom: 2rem;
    }

    .about-us-text {
        flex-direction: column;
    }

    .about-us-p {
        padding-left: 0;
    }

    .about-us-left {
        font-size: 1.75rem;
        line-height: 2rem;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 700;
    }

    .about-us-right {
        display: none;
    }

    .brands-wrapper {
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .brands-header {
        font-size: 3.5rem;
        line-height: 4.5rem;
        margin-bottom: 4rem;
    }

    .brands-cards-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .descriptions-wrapper {
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .description-content {
        flex-direction: column;
        gap: 2rem;
    }

    .description-item {
        gap: 5rem;
        flex-direction: column;
    }

    .description-left,
    .description-right {
        justify-content: center;
    }

    .description-p {
        text-align: center;
    }

    .services-header {
        margin-bottom: 2rem;
    }

    .services-wrapper {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

    .services-footer {
        font-size: 1.2rem;
        text-align: center;
        margin-top: 3rem;
    }

    .contact-us-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
        border: none;
    }

    .contact-us-info-container {
        font-size: 1rem;
    }

    .contact-us-left-header {
        font-size: 3rem;
        text-align: center;
    }

    .contact-us-right {
        padding-left: 1rem;
        gap: 2rem;
    }

    .contact-us-input {
        width: 16rem;
    }

    .et-container {
        gap: 48px;
    }

    .et-text {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        gap: 1rem;
    }

    .et-text-title {
        font-size: 1.75rem;
    }

    .et-text-description {
        font-size: 1.15rem;
    }

    .et-text-tags {
        font-size: 1.15rem;
    }
}

@media only screen and (max-width: 600px) {
    .pc {
        height: 200px !important;
        width: 300px !important;
    }

    .et-image-container {
        height: 80px;
        width: 80px;
    }

    .et-primary-image-container {
        width: 400px;
        height: 250px;
    }
}

@media only screen and (max-width: 400px) {

    .brands-wrapper {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .brands {
        margin-top: 1rem
    }

    .brands-header {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .card-wrapper {
        height: auto;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .et-image-container {
        height: 60px;
        width: 60px;
    }

    .et-primary-image-container {
        width: 300px;
        height: 200px;
    }
}