@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
    display: none;
}

.bg-hero-pattern {
    background-repeat: no-repeat;
}

.hero {
    background-image: url("/img/hero-pattern.jpg");
    animation-name: mymove;
    animation-duration: 20s;
    animation-delay: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    min-height: 60vh;
    background-color: hsl(var(--n) / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.5;
}

.mobile-links {
    display: flex;
}

@keyframes mymove {
    0% {
        background-image: url('/img/hero-pattern.jpg');
    }

    32% {
        background-color: rgba(0, 0, 0, 0.5);
    }

    33% {
        background-image: url('/img/hero-pattern-2.jpg');
    }

    65% {
        background-color: rgba(0, 0, 0, 0.5);
    }

    66% {
        background-image: url('/img/hero-pattern-3.jpg');
    }

    100% {
        background-color: rgba(0, 0, 0, 1);
    }
}

@media screen and (max-width: 1400px) {

    .hero-container {
        display: flex;
        justify-content: center;
    }
}


@media screen and (max-width: 1200px) {

    /* For mobile phones: */

    .dropdown {
        display: flex;
    }

    .hero {
        min-height: 50vh;
    }
}

@media only screen and (max-width: 900px) {
    .hero {
        min-height: 30vh;
    }
}

@media only screen and (max-width: 740px) {
    .navbar-wrapper {
        padding: 0px;
    }

    .hero-title {
        text-align: center;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 2px;
    }
    
    .hero-text {
        width: 90%;
    }

    .about-us {
        margin-top: 0;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4rem;
        min-height: 25vh;
    }

    .about-us-title {
        text-align: center;
        font-size: 3rem;
        padding-bottom: 2rem;
    }

    .about-us-text {
        flex-direction: column;
    }

    .about-us-p {
        padding-left: 0;
    }

    .about-us-left {
        font-size: 1.75rem;
        line-height: 2rem;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 700;
    }

    .about-us-right {
        display: none;
    }

    .descriptions-wrapper {
        padding-top: 1rem;
    }

    .description-content {
        flex-direction: column;
        gap: 2rem;
    }

    .description-item {
        gap: 5rem;
    }

    .description-left, .description-right {
        justify-content: center;
    }

    .description-p {
        text-align: center;
    }

    .brands-header {
        font-size: 4rem;
        line-height: 4.5rem;
        margin-bottom: 4rem;
    }

    .services-wrapper {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

}